[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
djangorestframework = "*"
psycopg2 = "==2.7.5"
drf-yasg = "*"
django-rest-swagger = "*"
numpy = "*"
pyjwt = "*"
coveralls = "*"
codacy-coverage = "*"
codecov = "*"
coverage = "*"
django-sendgrid-v5 = "*"
celery = "*"
redis = "*"
geos = "*"
django-extra-fields = "*"
django = "==2.2.13"
gunicorn = "*"
gevent = "*"
whitenoise = "*"

[requires]
python_version = "3.6"
